################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/x64/Debug
/.vs/c++ advance
/5-10 IManager/x64

/8-01 Progressbar/x64/Debug
